 
<h1>Reclamation - PDF</h1>
  
    <table class="table">
        <tbody>
     
             <tr>
                <th>Objet : </th>
                <td>{{ reclamation.objet }}</td>
            </tr>
            <tr>
                <th>Description :</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>Nom :</th>
                <td>{{ reclamation.nom }}</td>
            </tr>
            <h3>AnimaLand-2023</h3>
        </tbody>