{% extends "back/baseback.html.twig" %}

{% block title %}nouvelle Categorie{% endblock %}

{% block body %}
    <h1>Ajouter Categorie</h1>

    {{ include('categorie_v/_form.html.twig') }}

    <a href="{{ path('app_categorie_v_index') }}"class="btn btn-info active btn-sm" role="button">page précedente</a>
{% endblock %}
